.features {
  display: block;
  padding: 40px;
  background: #fffae1;
}

.ps {
  width: 60%;
  margin: auto;
  padding: 20px;
  border-left: 2px solid black;
}

@media (max-width: 780px) {
  .ps {
    width: auto;
  }
}